.GamePad {
    width: 100%;
    position: static;
    font-family: consolas;
}

table {
    border-spacing: 0;
}

.LstickInfo, .RstickInfo, .Lstick, .Rstick, .Info, .controlInfo {
    border: 5px solid black;
}

.LstickInfo {
    font-family: consolas;
    float: left;
    text-align: center;
    height: 20px;
    width: 150px;
    background-color: #005959;
    color: white;
}

.Info {
    font-family: consolas;
    text-align: center;
    height: 20px;
    width: 50%;
    background-color: #16161d;
    color: lime;
}

.RstickInfo {
    font-family: consolas;
    float: right;
    text-align: center;
    height: 20px;
    width: 150px;
    background-color: #590000;
    color: white;
}

.Lstick {
    float: left;
    text-align: center;
    height: 150px;
    width: 150px;
    background-color: cyan;
    color: white;
}

.controlInfo {
    font-family: consolas;
    text-align: center;
    width: 100%;
    min-width: 50%;
    color: cyan;
    background-color: #16161d;
}

.Rstick {
    float: right;
    text-align: center;
    height: 150px;
    width: 150px;
    background-color: red;
    color: white;
}
